/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

} 

/* Large devices (laptops/desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1200px) {
    /* Home page */
    .nav-container {
        padding-inline: 3rem;
    }
    .container {
        margin: 1.5rem;
        padding: 1.5rem;
    }
    .hero {
        margin-inline: 0;
        padding-inline: 0;
        margin-top: 0;
    }
    .hero-image {
        margin: 0;
    }
    .home-card-container {
        grid-template-columns: repeat(4, 1fr);
    }
    /* Pagina produse */
    .card-container {
        grid-template-columns: repeat(3, 1fr);
    }
    .filter-btn {
        flex-direction: column;
    }
    #search-button, #reset-button {
        width: 100%;
    }
    /* Pagina admin */
    
}