.bg-page-dark {
    background-color: #171717;
}
.bg-box-dark {
    background-color: #444444;
}
.bg-grid-dark {
    background-color: #313131;
}
.color-dark, .color-dark-effect {
    color: #EDEDED;
    text-decoration: none;
}
.color-dark-effect:hover {
    color: #DA0037;
}
.color-dark-effect:active {
    color: #fc2359;
}
.bg-color-effect:hover {
    background-color: #DA0037;
}
.bg-color-effect:active {
    background-color: #fc2359;
}
.bg-warning {
    background-color: #bd002f;
    color: #EDEDED;
}
.bg-warning:hover {
    background-color: #DA0037;
}
.bg-warning:active {
    background-color: #e7174b;
}
.btn-success {
    background-color: #036d2c;
    color: #EDEDED;
    transition: 0.3s;
}
.btn-success:hover {
    background-color: #07cf4a;
    color: #111111;
}
.btn-success:active {
    background-color: #03f723;
    color: #000000;
}
.shadow100-x {
    box-shadow: 10px 0 #313131, -10px 0 #313131;
}