/* Flex */
.flex-end-h {
    justify-self: end;
}
.flex-start-h {
    justify-self: start;
}
.mr-auto {
    margin-right: auto;
}
.border-top {
    border-top: 2px solid #444444;
}
.w-full {
    width: 100%;
}
.justify-center {
    justify-content: center;
}