@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&family=Roboto+Slab&display=swap');
@import "./components.css";
@import "./pallets.css";
@import "./properties.css";
@import "./mobile.css";

* {
    font-family: 'Roboto Slab', serif;
    /* border: 1px dashed red; */
}

.contur {
    outline: 1px dashed red;
}

#logo {
    width: 100px;
    padding: 0;
}

/* TODO 3: Style-uri pentru componentele de la 1 (display: grid), 2 (display: flex si grid, dupa caz) */
.search-btn {
    background-color: rgba(0, 0, 0, 0);
    border-style: none;
}
.bi-search {
    font-size: x-large;
}
.bi-person-plus {
    font-size: xx-large;
}
.bi-x-lg {
    font-size: 3em;
}
.bi-arrow-right-circle, .bi-arrow-left-circle {
    font-size: 3.5em;
}

#products {
    width: auto;
    overflow: hidden;
}
#mobile {
    display: none;
    transition: 0.3s;
}
#contact {
    display: flex;
    flex-direction: row;
}
.addr-row > * {
    margin: 0;
}