@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&family=Roboto+Slab&display=swap');
@import "./components.css";
@import "./pallets.css";
@import "./properties.css";
@import "./responsive.css";

* {
    font-family: 'Roboto Slab', serif;
    /* border: 1px dashed red; */
}
body {
    position: relative;
    margin: 0;
}

.contur {
    outline: 1px dashed red;
}

/* #logo {
    width: 5rem;
    padding: 0;
} */

/* TODO 3: Style-uri pentru componentele de la 1 (display: grid), 2 (display: flex si grid, dupa caz) */
.search-btn {
    background-color: rgba(0, 0, 0, 0);
    border-style: none;
}
.bi-search {
    font-size: x-large;
}

#products {
    width: auto;
    overflow: hidden;
}
#mobile {
    display: none;
    transition: 0.3s;
}
#contact {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}
.addr-row > * {
    margin: 0;
}

.dropbtn {
    cursor: pointer;
    text-decoration: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #444444;
    z-index: 1;
}
  
.dropdown-content a {
    color: #EDEDED;
    text-decoration: none;
    display: block;
}
  
.dropdown-content a:hover {
    background-color: #5a5a5a
}
  
.dropdown:hover .dropdown-content {
    display: block;
}

.bi-arrow-bar-left {
    font-size: 2em;
}
.bi-cart {
    font-size: 1.5em;
}